# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
build/
dist/
*.egg-info/

# Playwright
playwright-report/
test-results/

# Node
node_modules/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.swo
